.headerContainer {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .imgEscudo {
    width: 20%;
    height: auto;
  }
  
  .headerContainer > div {
    flex: 1;
    text-align: center;
  }